@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.main-heading {
	@include flexbox(row, space-between, center);

	padding-bottom: $spacing-sm;
	border-bottom: 1px solid $black;
	width: 100%;

	&__button {
		cursor: pointer;
		margin-left: $spacing-lg;
		appearance: none;
		outline: none;
		background: none;
		border: none;
	}

	&__button-container {
		@include flexbox(row, unset, center);
	}

	&__icon {
		height: 1.5rem;
	}

	// &__title {
	// }
}
