@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.memory-modal {
	position: relative;
	width: 63rem;
	height: calc(100vh - 7.2813rem - 4.875rem);
	margin-top: 7.2813rem;
	padding: 6rem;
	background: $white;
	z-index: 100;

	&__container {
		@include flexbox(column, unset, unset);

		width: 100%;
		overflow: auto;
	}

	&__form {
		@include flexbox(row, unset, unset);

		gap: $spacing-xxl;
		margin-bottom: $spacing-xxl;
	}

	&__icon {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
	}
}
