@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.memory-modal {
	position: relative;
	width: 63rem;
	height: calc(100vh - 7.2813rem - 4.875rem);
	margin-top: 7.2813rem;
	padding: 6rem;
	background: $white;
	overflow-y: auto;

	&__container {
		@include flexbox(column, unset, unset);

		width: 100%;
		overflow: auto;
		aspect-ratio: 40 / 31;
	}

	&__filler {
		width: 100%;
	}

	&__form {
		@include flexbox(column, unset, unset);

		gap: $spacing-lg;
	}

	&__form-container {
		@include flexbox(row, space-between, unset);

		gap: $spacing-xxl;
	}

	&__icon {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
	}

	&__image {
		display: block;
		height: 100%;
		object-fit: contain;
	}

	&__label {
		margin-bottom: $spacing-sm;
	}

	&__media-container {
		@include flexbox(row, center, center);

		max-width: 30rem;
		aspect-ratio: 40 / 31;
		background: $grey-light;
		font-size: $font-size-dt-sm;
		text-transform: uppercase;
		overflow: hidden;
	}

	&__video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
