@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

// RESETS
* {
	box-sizing: border-box;
}

a,
body,
button,
div,
figure,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
	margin: 0;
	padding: 0;
}

// GLOBAL GENERAL

html {
	background: $white;
}

body {
	font-family: "Nohemi", Arial, sans-serif;
	color: $black;
}

a {
	text-decoration: none;
}

#root {
	@include desktop {
		max-width: 63rem;
		margin: 0 auto;
	}
}

.text-heading {
	@include font-heading;
}

.text-heading-bold {
	@include font-heading($black, $font-weight-extra-bold, 15%);
}

.text-subheading {
	@include font-subheading;
}

.text-body {
	@include font-body;
}

.text-label {
	@include font-label;
}

.text-link {
	text-transform: uppercase;
	@include font-body($grey-dark);
}
