@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

// RESETS
* {
	box-sizing: border-box;
}

a,
body,
button,
div,
figure,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
input,
li,
p,
section,
span,
textarea,
ul {
	margin: 0;
	padding: 0;
}

// GLOBAL GENERAL

body {
	font-family: "Nohemi", Arial, sans-serif;
}

.text-header {
	@include font-header;
}

.text-header-bold {
	@include font-header($black, $font-weight-extra-bold, 15%);
}

.text-subheader {
	@include font-subheader;
}

.text-body {
	@include font-body;
}

.text-label {
	@include font-label;
}

.text-link {
	@include font-body($grey-dark);
}

.text-logo {
	color: $black;
	font-size: $font-size-xl;
	font-weight: $font-weight-bold;
	line-height: 2rem;

	@include tablet {
		font-size: $font-size-dt-lg;
		line-height: 2.75rem;
	}
}
