@use "./variables" as *;

// BREAKPOINTS
@mixin tablet {
	@media (min-width: ($breakpoint-min-tablet)) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: ($breakpoint-min-desktop)) {
		@content;
	}
}

// SPACING
// group multiple properties per size
@mixin spacing($props, $size) {
	@each $prop in $props {
		#{$prop}: map-get($spacings, $size);
	}
}

// FLEXBOX
@mixin flexbox($direction, $justify-content, $align-items) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify-content;
	align-items: $align-items;
}

// FONT STYLES
@mixin font-header(
	$color: $black,
	$font-weight: $font-weight-medium,
	$letter-spacing: normal
) {
	color: $color;
	font-size: $font-size-lg;
	font-weight: $font-weight;
	letter-spacing: $letter-spacing;

	@include tablet {
		font-size: $font-size-dt-lg;
	}
}

@mixin font-subheader($color: $grey-dark, $font-weight: $font-weight-medium) {
	color: $color;
	font-size: $font-size-sm;
	font-weight: $font-weight;

	@include tablet {
		font-size: $font-size-dt-sm;
	}
}

@mixin font-body($color: $black, $font-weight: $font-weight-regular) {
	color: $color;
	font-size: $font-size-md;
	font-weight: $font-weight;
	line-height: 1.125rem;

	@include tablet {
		font-size: $font-size-dt-md;
		line-height: 1.375rem;
	}
}

@mixin font-label($color: $grey-dark, $font-weight: $font-weight-medium) {
	color: $color;
	font-size: $font-size-sm;
	font-weight: $font-weight;
	text-transform: uppercase;

	@include tablet {
		font-size: $font-size-dt-sm;
	}
}
