@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.edit-capsule {
	margin: 7.2813rem 0 4.875rem;
	@include flexbox(column, unset, unset);
	gap: map-get($spacings, lg);

	&__button-container {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: $white;
		gap: map-get($spacings, xxl);
		padding: map-get($spacings, xl) 0;
		@include flexbox(row, center, center);
	}

	&__cover-art {
		width: 100%;
		height: 23.25rem;
		object-fit: cover;
	}

	&__form-container {
		width: 100%;
		@include flexbox(column, unset, unset);
	}

	&__form {
		@include flexbox(row, unset, unset);
		gap: map-get($spacings, xxl);
	}

	&__list {
		display: grid;
		grid-template-columns: 13.5rem 13.5rem 13.5rem 13.5rem;
		gap: map-get($spacings, xxl);
	}
}
