@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-field {
	&__container {
		width: 100%;
		@include flexbox(column, unset, unset);
	}

	&__drop-text {
		font-size: $font-size-dt-sm;
		text-transform: uppercase;

		&--light {
			color: $grey-dark;
			font-weight: $font-weight-light;
		}
	}

	&__drop-zone {
		background-color: #f5f5f5;
		border: 2px dashed $grey-light;
		cursor: pointer;
		width: 100%;
		height: 23.25rem;
		@include flexbox(column, center, center);
	}

	&__icon {
		height: 4rem;
		margin: map-get($spacings, xl);
	}

	&__label {
		margin-bottom: map-get($spacings, sm);
	}
}
