@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-field {
	&__container {
		@include flexbox(column, unset, unset);

		width: 100%;
	}

	&__drop-text {
		font-size: $font-size-dt-sm;
		text-transform: uppercase;

		&--light {
			color: $grey-dark;
			font-weight: $font-weight-light;
		}
	}

	&__drop-zone {
		@include flexbox(column, center, center);

		max-width: 30rem;
		height: 100%;
		border: 2px dashed $grey-light;
		background-color: #f5f5f5;
		cursor: pointer;
		aspect-ratio: 40 / 31;
	}

	&__icon {
		height: 4rem;
		margin: $spacing-xl;
	}

	&__label {
		margin-bottom: $spacing-sm;
	}
}
