@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload-field {
	@include flexbox(column, unset, unset);

	width: 100%;

	&__button-container {
		@include flexbox(row, flex-end, center);

		gap: $spacing-md;
	}

	&__drop-text {
		font-size: $font-size-dt-sm;
		// text-transform: uppercase;text-transform

		&--light {
			color: $grey-dark;
			font-weight: $font-weight-light;
		}
	}

	&__drop-zone {
		@include flexbox(column, center, center);

		max-width: 30rem;
		height: 100%;
		border: 2px dashed $grey-med;
		background-color: $grey-light;
		cursor: pointer;
		aspect-ratio: 40 / 31;
	}

	&__icon {
		height: 4rem;
		margin: $spacing-xl;
	}

	&__label {
		margin-bottom: $spacing-sm;
	}

	&__preview {
		max-width: 30rem;
		height: 100%;
		aspect-ratio: 40 / 31;
		object-fit: cover;
	}

	&__preview-container {
		@include flexbox(column, unset, unset);

		gap: $spacing-sm;
		max-width: 30rem;
		height: 100%;
	}

	&__replace {
		cursor: pointer;

		&:hover {
			color: $primary;
		}
	}
}
