@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.button {
	border: none;
	background: none;
	color: $grey-dark;
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		color: $primary;
	}
}
