@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.memory-carousel {
	@include flexbox(row, unset, center);

	gap: $spacing-xs;
	height: calc(100% - $spacing-xl);
	margin: 0 auto;

	&__author {
		width: 100%;
		padding: 0 $spacing-xxl;
		font-weight: $font-weight-medium;

		&--white {
			color: $white;
		}
	}

	// &__buttons {
	// }

	&__caption {
		width: 100%;
		padding: 0 $spacing-xxl;
		color: $white;
		font-weight: $font-weight-bold;
	}

	&__image {
		display: block;
		height: 100%;
		object-fit: contain;
	}

	&__media-container {
		width: 100%;
		height: 100%;

		&--image,
		&--text {
			@include flexbox(column, center, center);

			gap: $spacing-sm;
		}
	}

	&__message {
		padding: 0 $spacing-xxl;
	}

	&__overlay {
		@include flexbox(column, center, center);

		position: absolute;
		gap: $spacing-sm;
		max-width: 100%;
		height: 100%;
		background: rgb(209 66 0 / 80%);
	}

	&__slide {
		@include flexbox(unset, center, center);

		position: relative;
		flex: 0 0 100%;
		min-width: 0;
		padding: 0 $spacing-xs;
		transform: translate3d(0, 0, 0);
	}

	&__slide-container {
		display: flex;
		height: 100%;
		margin-left: -$spacing-xs;
		touch-action: pan-y pinch-zoom;
	}

	&__video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&__viewport {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
