@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.locked {
	@include flexbox(column, center, unset);

	gap: $spacing-lg;
	height: calc(100vh - 7.2813rem - 4.875rem);
	margin: 7.2813rem 0 4.875rem;

	&__countdown-container {
		font-size: $font-size-dt-xxl;
		letter-spacing: 1.75rem;
	}

	&__title {
		padding-bottom: $spacing-sm;
		border-bottom: 1px solid $primary;
	}
}
