@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-edit-capsule {
	@include flexbox(column, unset, unset);

	gap: map-get($spacings, lg);
	margin: 7.2813rem 0 4.875rem;

	&__button-container {
		@include flexbox(row, center, center);

		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		gap: map-get($spacings, xxl);
		height: 4.875rem;
		padding: map-get($spacings, xl) 0;
		background: $white;
	}

	&__cover-art {
		width: 100%;
		height: 23.25rem;
		object-fit: cover;
	}

	&__form-container {
		@include flexbox(column, unset, unset);

		width: 100%;
	}

	&__form {
		@include flexbox(row, unset, unset);

		gap: map-get($spacings, xxl);
	}

	&__list {
		display: grid;
		gap: map-get($spacings, xxl);
		grid-template-columns: 13.5rem 13.5rem 13.5rem 13.5rem;
	}
}
