@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.pass {
	@include flexbox(row, center, center);

	width: 100%;
	height: calc(100vh - 7.2813rem - 4.875rem);
	margin: 7.2813rem 0 4.875rem;

	&__form {
		@include flexbox(column, unset, unset);

		width: 23rem;
		max-width: 23rem;
		margin: auto;
	}
}
