@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
	@include desktop {
		max-width: 63rem;
		padding: $spacing-xxl 0;
	}

	& {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		margin: 0 auto;
		background: $white;
		z-index: 3;
	}

	&__link {
		&--back {
			@include flexbox(row, unset, center);

			position: absolute;
			gap: $spacing-sm;
		}
	}

	&__text {
		@include tablet {
			font-size: $font-size-dt-lg;
		}

		& {
			color: $black;
			font-size: $font-size-xl;
			font-weight: $font-weight-extra-bold;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: $spacing-xs;
		}
	}
}
