@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	max-width: 63.25rem;
	margin: 0 auto;
	padding: $spacing-xxl 0.25rem;
	background: $white;

	&__link {
		&--back {
			@include flexbox(row, unset, center);

			position: absolute;
			gap: $spacing-sm;
		}
	}

	&__text {
		color: $black;
		font-size: $font-size-xl;
		font-weight: $font-weight-extra-bold;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: $spacing-xs;
	}
}
