@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
	background: $white;
	padding: map-get($spacings, xxl);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	&__link {
		&--back {
			position: absolute;
			@include flexbox(row, unset, center);
		}
	}

	&__text {
		color: $black;
		font-size: $font-size-xl;
		font-weight: $font-weight-extra-bold;
		text-align: center;
		text-transform: uppercase;
		@include spacing(letter-spacing, xs);

		@include tablet {
			font-size: $font-size-dt-lg;
		}
	}
}
