@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.share-modal {
	position: relative;
	width: auto;
	max-width: 25rem;
	height: auto;
	padding: 6rem;
	background: $white;

	&__icon {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
	}

	&__social-icon {
		width: 2rem;
		cursor: pointer;
	}

	&__social-container {
		@include flexbox(row, center, center);

		gap: $spacing-xl;
		margin-bottom: $spacing-xl;
		flex-wrap: wrap;
	}
}
