@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.add-capsule {
	margin: 7.2813rem 0 0;
	@include flexbox(column, unset, unset);
	gap: map-get($spacings, lg);

	&__form-container {
		width: 100%;
		@include flexbox(column, unset, unset);
	}

	&__form {
		@include flexbox(row, unset, unset);
		gap: map-get($spacings, xxl);
	}
}
