@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.loader {
	@include flexbox(row, center, center);

	position: fixed;
	inset: 0;
	z-index: 200;
	width: 100%;
	height: 100%;
	background-color: rgb(255 255 255 / 80%);

	&__animation {
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		width: 3rem;
		height: 3rem;
		background: $primary;
		animation: flipX 1.75s linear infinite;
	}
}

@keyframes flipX {
	0% {
		transform: perspective(200px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: perspective(200px) rotateX(-180deg) rotateY(0deg);
	}

	100% {
		transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
	}
}
